{% extends "base.html" %}

{% block title %}B. Castro Lupapa{% endblock %}

{% block content %}
  <main class="hero">
      <div>
        <h1 style="text-align: center; margin-bottom: 2rem; color: var(--accent-green);">Bem-Vindo ao Meu Blog Pessoal</h1>
        <p style="text-align: center; font-size: 1.1rem; color: var(--text-muted);">
            É aqui onde Partilho as minhas Ideias, Projetos e Aprendizados Relacionados à Economia e Finanças. <br><br><br>
        </p>
      </div>

      <section class="container">
        <div class="container">
          <img src="../static/bl.jpg" alt="BL" class="foto-perfil">
        </div>
          
        <div class="intro">
          <h2>Técnico Contabilista e Economista</h2> <br>
          <p>
            Olá, sou Castro Lupapa.<br>
          
          </p>
        </div>
      </section>

            <!-- Botão de Chamada (CTA) -->
      <div style="text-align: center; margin: 3rem 0;">
          <a href="https://www.scribd.com/document/743160694/TRABALHO-FINAL-DE-CURSO-Botelho-Lupapa-Galiano-Buianga-Domingos-Tunga-e-Julia-Mateus-GRUPO-22-SENEGAL-1-1 " class="btn" style="background-color: var(--accent-green); color: #000; padding: 0.75rem 1.5rem; border-radius: 20px; text-decoration: none; font-weight: bold; transition: background-color 0.3s ease;">
              Vê os Meus Projetos
          </a>
      </div>
    </main>

        <!-- Aside -->
    <aside class="related-topics">
      <!-- Features -->
      <section class="features">
            
            <div class="row g-4">
              <div class="col-md-4">
                <div class="card p-4 text-center h-100">
                  <div class="feature-icon">📖</div>
                  <h3>Economia</h3>
                  <p>O meu Objetivo é Transformar a Economia em algo que qualquer um pode entender.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card p-4 text-center h-100">
                  <div class="feature-icon">📊</div>
                  <h3>Gestão Inteligente</h3>
                  <p>Racionalizo de forma Eficiente os Recursos postos à minha Disposição.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card p-4 text-center h-100">
                  <div class="feature-icon">💵</div>
                  <h3>Finanças</h3>
                  <p>Gestor Nato de atividades relacionados às Finanças.</p>
                </div>
              </div>
            </div>
          </div>
      </section>

    </aside>

{% endblock %}